@media screen and (min-width:576px) and (max-width:992px) {
    body {
        padding: 20px;
    }

    .navbar,
    .banner-container {
        flex-direction: column;
        gap: 50px;
    }

    .gamer-container {
        flex-direction: column-reverse;
    }

    .gamer-image img {
        width: 100%;
    }

    #gamer-content-button {
        justify-content: center;
    }

    .purpose {
        font-size: 2rem;
    }

    .gamer-content h2,
    .gamer-container p {
        text-align: center;
    }

    .online-games-container {
        grid-template-columns: repeat(2, 1fr);
    }
}