@media screen and (max-width:576px) {

    body{
        padding: 20px;
    }
    .navbar,
    .banner-container {
        flex-direction: column;
        gap: 50px;
    }

    .nav-right>ul {
        flex-direction: column;
        gap: 36px;
    }

    .
}