@media screen and (max-width:576px) {

    body {
        padding: 20px;
    }

    .navbar,
    .play-instant-container {
        flex-direction: column;
        gap: 50px;
    }

    .banner-container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .nav-right>ul,
    .gamer-container {
        flex-direction: column;
        gap: 36px;
    }

    .gamer-image img {
        width: 100%;
    }

    #gamer-content-button {
        justify-content: center;
    }

    .purpose {
        font-size: 1.4rem;
    }

    .gamer-content h2,
    .gamer-container p {
        text-align: center;
    }

    .online-games-container {
        grid-template-columns: repeat(1, 1fr);
    }


    .play-instant-text {
        width: 100%;
    }

    .play-instant-image {
        width: 80%;
    }
    .play-instant-image .cat {
     
        width: 150px;
        height: 150px;
        left: -55px;
        bottom: -50px;
    }

}