/* Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
}

/* Shared Styles */
:root {
    --primary-color: rgb(255, 66, 165);
    --seconday-color: rgb(11, 2, 35);
    --tertiary-color: rgb(83, 76, 100);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    border: 2px solid red;
}

.btn-primary,
.btn-secondary {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--primary-color);
    border: none;
    padding: 21px 40px 21px 40px;
    border-radius: 48px;
}

.btn-secondary {
    background-color: rgb(78, 197, 247);
    margin-left: 24px;
}

.flex {
    display: flex;
}

/* Nav Styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    /* margin-bottom: 37px; */
}

.nav-title {
    color: var(--secondary-color);
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
}

.G {
    color: var(--primary-color);
}

.nav-left {
    justify-content: center;
    align-items: center;

}

.nav-left img {
    width: 86.03px;
    height: 40.02px;
    margin-right: 20px;
}

.nav-right ul>li {
    list-style: none;
    margin-right: 32px;

}

.nav-right>ul {
    align-items: center;
    justify-content: center;
}

.nav-right a,
.follow {
    text-decoration: none;
    color: rgb(60, 53, 79);
    font-size: 1.1rem;
    font-weight: 500;
}

.follow {
    background: rgba(11, 2, 35, 0.1);
    border-radius: 10px;
    padding: 18px 5px 18px 25px;

}

.follow li {
    list-style: none;
    margin-right: 24px;
    border-radius: 8px;
}

#youtube {
    width: 33.92px;
    height: 24px;
    color: red;
}

#tiktok {
    height: 21.74px;
    color: rgb(0, 0, 0);
}

/* Banner Style */
.title-top {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.title-bottom {
    background: linear-gradient(180.00deg, rgb(249, 72, 178), rgb(135, 88, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: transparent;
    font-size: 6rem;

    font-weight: 800;
}

.banner-container {
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.banner-description {
    color: var(--tertiary-color);
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 15px;
}

.banner-p p {
    margin-top: 21px;
    margin-left: 5px;
}

#play {
    /* border: 1.5px solid rgb(11, 2, 35); */
    padding: 6px 5px 6px 7px;
    border-radius: 50%;
    color: var(--primary-color);
    font-size: 1.5rem;
}

#download,
#group {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.banner-p {
    margin-bottom: 41px;
}

.banner-image img {
    width: 100%;
}