/* Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
}

/* Shared Styles */

:root {
    --primary-color: rgb(255, 66, 165);
    --seconday-color: rgb(11, 2, 35);
    --tertiary-color: rgb(83, 76, 100);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header,
#play-instant,
#online-game,
#Gamer,
#popular-game {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-primary,
.btn-secondary,
.btn-tertiary {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--primary-color);
    border: none;
    padding: 21px 40px 21px 40px;
    border-radius: 48px;
}

.btn-secondary {
    background-color: rgb(78, 197, 247);
    margin-left: 24px;
}

.btn-tertiary {
    color: var(--primary-color);
    background-color: white;
    margin-top: 40px;
}

.flex {
    display: flex;
}

.banner-container,
.gamer-container {
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

/* Nav Styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    /* margin-bottom: 37px; */
}

.nav-title {
    color: var(--secondary-color);
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
}

.G {
    color: var(--primary-color);
}

.nav-left {
    justify-content: center;
    align-items: center;

}

.nav-left img {
    width: 86.03px;
    height: 40.02px;
    margin-right: 20px;
}

.nav-right ul>li {
    list-style: none;
    margin-right: 32px;

}

.nav-right>ul {
    align-items: center;
    justify-content: center;
}

.nav-right a,
.follow {
    text-decoration: none;
    color: rgb(60, 53, 79);
    font-size: 1.1rem;
    font-weight: 500;
}

.follow {
    background: rgba(11, 2, 35, 0.1);
    border-radius: 10px;
    padding: 18px 5px 18px 25px;

}

.follow li {
    list-style: none;
    margin-right: 24px;
    border-radius: 8px;
}

#youtube {
    width: 33.92px;
    height: 24px;
    color: red;
}

#tiktok {
    height: 21.74px;
    color: rgb(0, 0, 0);
}

/* Banner Style */
.title-top {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.title-bottom {
    background: linear-gradient(180.00deg, rgb(249, 72, 178), rgb(135, 88, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: transparent;
    font-size: 6rem;

    font-weight: 800;
}

.banner-description {
    color: var(--tertiary-color);
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 15px;
}

.banner-p p {
    margin-top: 21px;
    margin-left: 5px;
}

#play {
    padding: 6px 5px 6px 7px;
    border-radius: 50%;
    color: var(--primary-color);
    font-size: 1.5rem;
}

#download,
#group {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.banner-p {
    margin-bottom: 41px;
}

.banner-image img {
    width: 100%;
}

/* Gamer Section Styles */
.gamer-title {
    background: linear-gradient(180.00deg, rgb(249, 72, 178), rgb(135, 88, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 3rem;
    text-align: right;
}

.gamer-description {
    color: var(--tertiary-color);
    font-size: 1.1rem;
    text-align: right;
    margin-top: 24px;
    margin-bottom: 30px;
    line-height: 30px;
}

#gamer-content-button {
    display: flex;
    justify-content: right;
}

.our-purpose {
    margin-top: 24px;
    text-align: right;
    font-size: 1.5rem;
    color: var(--tertiary-color);
}

.purpose {
    color: var(--tertiary-color);
    font-family: Work Sans;
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
    text-align: right;

}

/* Online Game Section */
#online-game {
    margin-top: 50px;
}

.online-game-title {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.online-game-description {
    color: var(--tertiary-color);
    font-size: 1.1rem;
    margin-top: 16px;
    margin-bottom: 48px;
    text-align: center;
}

.online-games-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.online-game-image-description {
    color: rgb(83, 76, 100);
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 24px;
}

.cirle-play {
    background-color: white;
    font-size: 1.5rem;
    padding: 20px 20px 20px 20px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.856);

}

.online-games-card {
    position: relative;
}

.hover-items {
    position: absolute;
    top: 30%;
    left: 35%;
    display: none;
    text-align: center;
}

.watch {
    color: rgb(255, 66, 165);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 20px;
}

.online-games-img img {
    width: 100%;
    height: 100%;
}

.online-games-card:hover .hover-items {
    display: block;
    cursor: pointer;
}

.online-games-img:hover {
    border-radius: 21px;
    filter: brightness(50%);
    cursor: pointer;
}

/* Play Instant Section */
#play-instant {
    margin-top: 100px;
}

.play-instant-container {
    justify-content: space-between;
    align-items: center;
}


.play-instant-title {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    text-align: right;
}

.play-instant-description {
    margin-top: 25px;
    color: var(--tertiary-color);
    font-size: 1.1rem;
    text-align: right;
}

.play-instant-text {
    width: 40%;
}

.play-instant-image {
    width: 40%;
    position: relative;
}

.play-instant-image img {
    width: 100%;
}

.play-instant-image .cat {
    position: absolute;
    width: 250px;
    height: 250px;
    left: -120px;
    bottom: -70px;
}

/* Career Section Styles */
#career {
    max-width: 100vw;
    margin: 0 auto;
    margin-top: 100px;
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%, rgb(255, 66, 165) 87.942%);
}

.career-container {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.career-content-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 700;
}

.career-content-description {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 35px;
    max-width: 680px;
}

.position-address {
    justify-content: space-between;
    align-items: center;
}

.position-name,
.address-name {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
}

.address-name {
    text-align: right;
}

.position p,
.address p {
    margin-bottom: 20px;
}

.career-image {
    max-width: 50%;
}

.career-image img {
    max-width: 100%;
}

.career-content {
    width: 50%;
}

/* Popular Games */
#popular-game {
    margin-top: 100px;
}

.popular-game-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.p-games {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 20px 10px 10px;
}

.popular-game-description {
    color: rgb(11, 2, 35);
    font-size: 1.2rem;
    font-weight: 600;
}

.p-games:hover {
    outline: 4px solid rgb(255, 66, 165);
    border-radius: 50px;
    cursor: pointer;
}

/* Footer Styles */
footer {
    max-width: 100vw;
    background-color: rgb(11, 2, 35);
    margin-top: 80px;
    padding: 20px;
}

.footer {
    max-width: 820px;
    margin: 0 auto;
    color: white;
    padding-top: 120px;
    padding-bottom: 120px;
}

.service {
    gap: 60px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 56px;
    margin-bottom: 56px;
}

.services {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;

}

.social-items,
.terms,
.copyright {
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-items i {
    font-size: 2.5rem;
    color: white;
}

.terms {
    gap: 40px;
    margin-top: 74px;
    margin-bottom: 50px;
}

.term,
.copy {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 500;

}